<igx-stepper titlePosition="bottom" #stepper class="stepper">
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content">
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
      </p>
      <div class="row-layout group">
        <button igxButton="contained" type="button" igxRipple (click)="stepper.next()" class="button">
          Next
        </button>
      </div>
    </div>
    <p igxStepTitle>Address</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content">
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
      </p>
      <div class="row-layout group">
        <button igxButton="contained" type="button" igxRipple (click)="stepper.prev()" class="button">
          Prev
        </button>
        <button igxButton="contained" type="button" igxRipple (click)="stepper.next()" class="button">
          Next
        </button>
      </div>
    </div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content">
      <igx-card class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Title goes here...
          </h3>
          <h5 igxCardHeaderSubtitle>
            Subtitle goes here...
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="button_1">
              Button
            </button>
          </ng-container>
          <ng-container igxEnd>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                favorite
              </igx-icon>
            </button>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                bookmark
              </igx-icon>
            </button>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                share
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
    </div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content">
      <button igxButton="contained" type="button" igxRipple class="button_1">
        Button
      </button>
    </div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [isValid]="false">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Item</p>
  </igx-step>
  <igx-step [optional]="true">
    <div igxStepContent class="column-layout step-content">
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
      </p>
      <div class="row-layout group">
        <button igxButton="contained" type="button" igxRipple (click)="stepper.prev()" class="button">
          Prev
        </button>
        <button igxButton="contained" type="button" igxRipple (click)="stepper.reset()" class="button">
          Reset
        </button>
      </div>
    </div>
    <p igxStepTitle>Wrap</p>
    <p igxStepSubTitle>(Optional)</p>
  </igx-step>
  <igx-step [optional]="true">
    <div igxStepContent class="column-layout step-content"></div>
    <p igxStepTitle>Wrap</p>
    <p igxStepSubTitle>(Optional)</p>
  </igx-step>
</igx-stepper>
