.row-layout {
  display: flex;
}
.asdf-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0.5rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.card {
  width: 320px;
  height: max-content;
  min-width: 320px;
  max-width: 320px;
}
.stepper {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.step-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.text {
  height: max-content;
  min-width: min-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
