.row-layout {
  display: flex;
}
.view-1-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.single-select-combo {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
