@for (item of petstoreOpenAPITagsPet; track item) {
  <igx-card class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" igxRipple class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
}
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button_1">
  Button
</button>
