<igx-expansion-panel class="expansion-panel">
  <igx-expansion-panel-body>
    <p class="ig-typography__body-2 text">
      Body 2
    </p>
    <p class="ig-typography__body-2 text">
      Body 2
    </p>
    <p class="ig-typography__body-2 text">
      Body 2
    </p>
  </igx-expansion-panel-body>
  <igx-expansion-panel-header>
    <igx-expansion-panel-title>Title goes here...</igx-expansion-panel-title>
    <igx-expansion-panel-description>Subtitle goes here...</igx-expansion-panel-description>
  </igx-expansion-panel-header>
</igx-expansion-panel>
<igx-banner class="banner">
  <p>
    Banner message
  </p>
  <igx-banner-actions>
    <button igxButton="flat" type="button" igxRipple class="button">
      Button
    </button>
  </igx-banner-actions>
  <igx-icon class="icon">
    mail
  </igx-icon>
</igx-banner>
<igx-expansion-panel class="expansion-panel_1">
  <igx-expansion-panel-body>
    <p class="ig-typography__body-2 text">
      Body 2
    </p>
    <p class="ig-typography__body-2 text">
      adsfadsghdgfhdgfj
    </p>
  </igx-expansion-panel-body>
  <igx-expansion-panel-header>
    <igx-expansion-panel-title>Title goes here...</igx-expansion-panel-title>
    <igx-expansion-panel-description>Subtitle goes here...</igx-expansion-panel-description>
  </igx-expansion-panel-header>
</igx-expansion-panel>
<div class="row-layout group">
  <igx-expansion-panel class="expansion-panel_2">
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 text">
        Body 2
      </p>
      <p class="ig-typography__body-2 text">
        Body 2
      </p>
      <p class="ig-typography__body-2 text">
        Body 2
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Title goes here...</igx-expansion-panel-title>
      <igx-expansion-panel-description>Subtitle goes here...</igx-expansion-panel-description>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
</div>
<p class="ig-typography__body-2 text">
  dfasgdasgfhfhdfshjjgj
</p>
<p class="ig-typography__body-2 text">
  dafdasgdaghhh
</p>
<igx-avatar shape="circle">
  <igx-icon>
    people
  </igx-icon>
</igx-avatar>
<igx-list class="list">
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
</igx-list>
